/*===============Header=============*/
.header {
	padding: 7.5px 0;
	margin-bottom: 10px;
	position: relative;
	z-index: 10;
	&_landing {
		z-index: 25;
		.header__company {
			border-right: 1px solid rgb(240, 240, 240);
			padding: 10.5px 16.5px 10.5px 0;
		}
		.header__phone {
			color: $wh;
		}
		.burger {
			&:before, &:after {
				background-color: $wh;
			}
		}
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__col {
		display: flex;
		align-items: center;
		margin-right: 60px;
	}
	&__logo {
		border-right: 1px solid rgb(240, 240, 240);
		padding: 3.5px 16.5px 3.5px 0;
		margin-right: 13px;
	}
	&__company {
		display: block;
		span {
			display: block;
			font-family: $ff;
			font-size: 8px;
			font-weight: 500;
			color: $bl;
			line-height: 1.25;
			letter-spacing: 1.42px;
			text-transform: uppercase;
			margin-bottom: 6.5px;
		}
	}
	&__newbild {
		display: inline-flex;
		align-items: center;
		margin-left: 20px;
		&-burger {
			width: 22px;
			height: 14px;
			position: relative;
			margin-right: 8px;
			&-item {
				position: absolute;
				top: 50%;
				left: 0;
				z-index: 1;
				transform: translateY(-50%);
				width: 100%;
				height: 1px;
				background-color: $wh;
			}
			&:before, &:after {
				content: "";
				width: 100%;
				height: 1px;
				background-color: $wh;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}
			&:after {
				top: auto;
				bottom: 0;
			}
		}
		span {
			font-family: $ff;
			font-size: 14px;
			font-weight: 500;
			color: $wh;
			line-height: $lh;
		}
	}
	&__nav {
		display: flex;
		align-items: center;
		margin-right: 17px;
	}
	&__link {
		@include text;
		margin-right: 30px;
		transition: all .2s linear;
		&:hover {
			color: $red;
		}
	}
	&__menu {
		display: flex;
		align-items: center;
		>* {
			margin-right: 4px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__phone {
		@include text;
		margin-right: 5px;
		transition: all .2s linear;
		&:hover {
			color: $red;
		}
	}
	&__call {
		display: flex;
		align-items: center;
		padding: 9px 14.5px 9px 15px;
		border-radius: 33px;
		background: rgb(239, 241, 243);
		transition: all .2s linear;
		&:hover {
			span {
				color: $red;
			}
			svg {
				fill: $red;
			}
		}
		svg {
			width: 18px;
			height: 18px;
			fill: $bl;
			margin-right: 8.5px;
			transition: all .2s linear;
		}
		span {
			font-family: $ff;
			font-size: 9px;
			font-weight: 500;
			color: $bl;
			line-height: 1;
			transition: all .2s linear;
		}
	}
	&__icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		flex: 0 0 36px;
		height: 36px;
		border-radius: 50%;
		background: rgb(92, 96, 109);
		svg {
			width: 19px;
			height: 17px;
			fill: $wh;
			transition: all .2s linear;
		}
		&:hover {
			svg {
				fill: $red;
			}
		}
	}
	&__search {
		display: flex;
		align-items: center;
		padding: 9px 12.5px 9px 12px;
		border-radius: 19px;
		background: $red;
		svg {
			width: 17px;
			height: 17px;
			fill: $wh;
			margin-right: 6px;
		}
		span {
			font-family: $ff;
			font-size: 12px;
			font-weight: 500;
			color: $wh;
			line-height: 1.25;
		}
	}
}
/*===============/header=============*/

/*===========Burger===========*/
.burger {
	display: none;
	margin-right: 26px;
	width: 26px;
	height: 10px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	&:before,
	&:after {
		content: "";
		width: 100%;
		height: 1px;
		background: $bl;
		position: absolute;
		left: 0;
		z-index: 1;
		transition: all .2s linear;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	&.active {
		&:before {
			top: 3px;
		}
		&:after {
			bottom: 3px;
		}
	}
}
/*==========/burger===========*/

/*============Menu=============*/
.menu {
	display: none;
	width: 100%;
	height: calc(100vh - 60px);
	overflow: auto;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	background-color: $wh;
	&__inner {
		padding: 16px 15px 40px;
	}
	.search {
		margin-bottom: 10px;
	}
	&__links {
		display: flex;
		margin-left: -6px;
		>* {
			flex: 1 1 auto;
			margin-left: 6px;
		}
	}
	&__link {
		border-radius: 18px;
		background: rgb(247, 247, 247);
		padding: 19px 18px 12px;
		margin-bottom: 10px;
		&-icon {
			margin-bottom: 9px;
			position: relative;
			display: inline-block;
			svg {
				width: 19px;
				height: 17px;
				fill: $gray;
			}
		}
		&-desc {
			font-family: $ff;
			font-size: 12px;
			font-weight: 500;
			color: rgb(70, 78, 85);
			line-height: $lh;
		}
		&-counter {
			display: inline-block;
			border-radius: 9px;
			background-color: $red;
			font-family: $ff;
			font-size: 12px;
			font-weight: 600;
			color: $wh;
			line-height: $lh;
			padding: 1.3px 6.2px;
			position: absolute;
			top: -8px;
			right: -20px;
			z-index: 1;
		}
	}
	&__nav {
		margin-bottom: 20px;
		&-item {
			padding: 10px 20px 10px 0;
			border-top: 1px solid rgb(239, 241, 243);
			&:last-child {
				padding-bottom: 0;
			}
		}
		&-name {
			width: 100%;
			font-family: $ff;
			font-size: 14px;
			font-weight: 600;
			color: $bl;
			line-height: $lh;
			margin-bottom: 0;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			&_drop {
				&:after, &:before {
					content: "";
					width: 8px;
					height: 1px;
					background-color: $bl;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					z-index: 1;
					transition: all .3s linear;
				}
				&:before {
					transform: translateY(-50%) rotate(90deg);
				}
				&.active {
					&:before {
						transform: translateY(-50%) rotate(0deg);
					}
				}
			}
			&_link {
				&:after, &:before {
					content: "";
					width: 8px;
					height: 9px;
					background: url("../images/arrow_thin.svg") center no-repeat;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%) rotate(-90deg);
					z-index: 1;
				}
			}
		}
		&-qt {
			color: rgb(160, 165, 181);
			margin-right: 15px;
		}
		&-list {
			display: none;
			padding: 20px 0 10px;
			li {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				font-family: $ff;
				font-size: 12px;
				font-weight: 500;
				color: $gray;
				line-height: $lh;
			}
		}
	}
	&__sale {
		display: flex;
		margin-left: -10px;
		margin-bottom: 15px;
		&-box {
			margin-left: 10px;
			flex: 1 1 auto;
			border-radius: 16px;
			background: rgb(247, 247, 247);
			padding: 15px 11px 10px;
			min-height: 62px;
			position: relative;
			&:after {
				content: "";
				width: 22px;
				height: 22px;
				background: url("../images/arrow_go_red.svg") center no-repeat;
				background-size: contain;
				position: absolute;
				top: 10px;
				right: 7px;
				z-index: 1;
			}
		}
		&-desc {
			font-family: $ff;
			font-size: 12px;
			font-weight: 500;
			color: rgb(70, 78, 85);
			line-height: $lh;
		}
	}
	.contactbox {
		border-radius: 18px;
		background: rgb(247, 247, 247);
		margin-bottom: 26px;
		&__title {
			color: $gray;
			font-size: 14px;
			margin-bottom: 17px;
		}
		&__link {
			span {
				color: $gray;
			}
			svg {
				fill: $gray;
			}
		}
		&__icon {
			margin-right: 14px;
		}
	}
	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
		&-link {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			svg {
				width: 22px;
				height: 22px;
				fill: $red;
			}
		}
	}
}
/*============/menu=============*/

.main {
	background-color: $wh;
	padding-bottom: 54px;
	border-radius: 0 0 44px 44px;
	margin-bottom: -54px;
	position: relative;
	z-index: 15;
	&.hidden {
		z-index: 6;
	}
}

/*==============Breacrumbs===========*/
.breadcrumbs {
	margin-top: 25px;
	margin-bottom: 12px;
	&__item {
		display: inline-block;
		font-family: $ff;
		font-size: 10px;
		font-weight: 500;
		line-height: $lh;
		color: rgb(117, 117, 117);
		position: relative;
		margin-right: 10px;
		transition: all .2s linear;
		&:after {
			content: "";
			width: 2px;
			height: 2px;
			border-radius: 50%;
			background: rgb(117, 117, 117);
			position: absolute;
			top: 50%;
			right: -7px;
			z-index: 1;
			transform: translateY(-50%);
			pointer-events: none;
		}
		&:hover {
			color: $red;
		}
		&:last-child {
			margin-right: 0;
			color: rgb(165, 165, 165);
			&:after {
				display: none;
			}
		}
	}
}
/*==============/breacrumbs===========*/

/*===============Footer=============*/
.footer {
	background: linear-gradient(180.00deg, rgb(37, 33, 53),rgb(44, 50, 61) 100%);
	padding: 84px 0 50px;
	&__contact {
		margin-bottom: 33px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 24px;
		background: rgba(255, 255, 255, 0.05);
		padding: 23px 27px;
		&-col {
			display: flex;
			align-items: center;
			&:nth-child(2) {
				flex: 1 1 auto;
				margin-right: 15px;
			}
		}
		.btn {
			font-size: 12px;
			padding: 12px;
		}
	}
	&__logo {
		display: inline-block;
		margin-right: 24px;
		position: relative;
		padding-right: 24px;
		margin-right: 15px;
		&:after {
			content: "";
			width: 1px;
			height: 48px;
			background-color: $wh;
			opacity: 0.09;
			position: absolute;
			top: 50%;
			right: 0;
			z-index: 1;
			transform: translateY(-50%);
		}
		img {
			width: 100px;
		}
	}
	&__social {
		display: flex;
		align-items: center;
		&-item {
			margin-right: 30px;
			position: relative;
			transition: all .2s linear;
			svg {
				width: 24px;
				height: 24px;
				fill: $wh;
				transition: all .2s linear;
			}
			&:after {
				content: "";
				width: 1px;
				height: 48px;
				background-color: $wh;
				opacity: 0.09;
				position: absolute;
				top: 50%;
				right: -15px;
				z-index: 1;
				transform: translateY(-50%);
				pointer-events: none;
			}
			@media(min-width: 1025px) {
				&:hover {
					svg {
						fill: $red;
					}
				}
			}
		}
	}
	&__address {
		display: inline-flex;
		align-items: center;
		svg {
			width: 15px;
			height: 20px;
			fill: $wh;
			margin-right: 16px;
			transition: all .2s linear;
		}
		span {
			font-family: $ff;
			font-size: 10px;
			font-weight: 600;
			line-height: 1.6;
			color: rgb(160, 165, 181);
		}
		&:hover {
			svg {
				fill: rgb(160, 165, 181);
			}
		}
	}
	&__phone {
		display: inline-block;
		font-family: $ff;
		font-size: 20px;
		font-weight: 600;
		color: $wh;
		line-height: $lh;
		margin-right: 25px;
		transition: all .2s linear;
		@media(max-width: 1920px) {
			@include adaptive-font(20, 16);
		}
		@media(min-width: 1025px) {
			&:hover {
				color: $red;
			}
		}
	}
	&__menu {
		display: flex;
		margin-left: -42px;
		margin-bottom: 33px;
		>* {
			width: calc(20% - 42px);
			margin-left: 42px;
		}
		&-name {
			display: inline-block;
			font-family: $ff;
			font-size: 14px;
			font-weight: 600;
			color: $wh;
			line-height: 1.64;
			margin-bottom: 15px;
			&_link {
				transition: all .2s linear;
				&:hover {
					color: rgb(160, 165, 181);
				}
			}
		}
		&-list {
			li {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				font-family: $ff;
				font-size: 12px;
				font-weight: 500;
				color: rgb(160, 165, 181);
				line-height: $lh;
				transition: all .2s linear;
				&:hover {
					color: $wh;
				}
			}
		}
	}
	&__qr {
		border: 3px solid rgba(255, 255, 255, 0.05);
		border-radius: 32px;
		padding: 50px 38px;
		text-align: center;
		img {
			max-width: 100%;
			margin-bottom: 38px;
		}
		div {
			font-family: $ff;
			font-size: 12px;
			font-weight: 600;
			color: $wh;
			line-height: $lh;
		}
	}
	.selectcheckbox {
		&__select {
			color: $wh;
			border: 1px solid rgba(255, 255, 255, 0.09);
			text-align: center;
			padding: 10px 30px 10px 10px;
			span {
				font-weight: 400;
				color: $wh;
				font-size: 12px;
			}
			&:after {
				background: url("../images/arrow-icon_wh.svg") center no-repeat;
			}
		}
		&__dropdown {
			background: #3E444E;
		}
		&__option {
			border-color: rgba(255, 255, 255, 0.09);
			span {
				color: $wh;
				font-weight: 400;
				font-size: 12px;
			}
		}
	}
	&__subscribe {
		margin-bottom: 25px;
		.btn {
			font-size: 12px;
			padding: 11px 27px;
		}
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__copyright {
		font-family: $ff;
		font-size: 8px;	
		font-weight: 500;
		line-height: $lh;
		color: rgb(110, 116, 129);
		span {
			display: inline-block;
			margin-right: 17px;
		}
	}
	&__design {
		font-family: $ff;
		font-size: 8px;	
		font-weight: 500;
		line-height: $lh;
		color: rgb(110, 116, 129);
		span {
			margin-right: 4px;
			vertical-align: middle;
		}
	}
}
/*===============/footer=============*/

/*===============Adaptive==============*/
@media(max-width: 1400px) {
	.header {
		&__nav {
			display: none;
		}
		&__phone {
			display: none;
		}
		&__col {
			margin-right: 0;
		}
		&__logo {
			padding-right: 10px;
			margin-right: 10px;
		}
	}

	.burger {
		display: block;
	}

	.main {
		border-radius: 0 0 24px 24px;
	}
}

@media(max-width: 1200px) {
	.footer {
		&__qr {
			border-radius: 24px;
			padding: 30px 10px;
			div {
				font-size: 10px;
			}
		}
	}
}

@media(max-width: 991px) {
	.footer {
		&__contact {
			flex-direction: column;
			align-items: flex-start;
			padding: 25px 0 20px;
			margin-bottom: 15px;
			&-col {
				width: 100%;
				margin-bottom: 14px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.09);
				padding: 0 20px 20px;
				margin-right: 0;
				&:nth-child(2) {
					order: 1;
					margin-bottom: 0;
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;
				}
			}
		}
		&__address {
			align-items: flex-start;
		}
		&__menu {
			margin-left: -20px;
			margin-bottom: 15px;
			&-col {
				margin-left: 20px;
				width: calc(20% - 20px);
			}
		}
	}
}

@media(max-width: 765px) {
	.header {
		padding: 6px 0;
		&_landing {
			.header__logo {
				border-right: 1px solid #D8D8D8;
			}
			.header__company {
				display: block;
				border-right: none;
				img {
					width: 77px;
				}
			}
			.header__icon {
				display: none;
			}
			.header__call {
				svg {
					fill: $wh;
				}
			}
		}
		&__newbild {
			display: none;
		}
		&__logo {
			border-right: none;
			img {
				width: 74px;
			}
		}
		&__company {
			display: none;
		}
		&__call {
			padding: 0;
			background-color: transparent;
			margin-right: 0;
			svg {
				fill: $gray;
				margin-right: 0;
			}
			span {
				display: none;
			}
		}
		&__search {
			margin-left: 17px;
			padding: 9.5px;
			span {
				display: none;
			}
			svg {
				margin-right: 0;
			}
		}
		&__icon {
			width: 19px;
			flex: 0 0 19px;
			background-color: transparent;
			margin-left: 23px;
			margin-right: 0;
			position: relative;
			&:before {
				content: "";
				width: 1px;
				height: 36px;
				background-color: $lgray;
				position: absolute;
				top: 50%;
				left: -11.5px;
				z-index: 1;
				transform: translateY(-50%);
			}
			svg {
				fill: $gray;
			}
		}
	}

	.breadcrumbs {
		display: none;
		&_mob {
			margin-top: 10px;
			display: block;
			.breadcrumbs__item {
				font-size: 8px;
			}
		}
	}

	.menu {
		height: calc(100vh - 40px);
	}

	.main {
		padding-bottom: 18px;
		margin-bottom: -18px;
	}

	.footer {
		padding-top: 52px;
		&__menu {
			display: block;
			margin-left: 0;
			&-col {
				width: 100%;
				margin-left: 0;
			}
			&-item {
				padding: 10px 20px;
				border-top: 1px solid rgba(255, 255, 255, 0.09);
			}
			&-name {
				font-size: 14px;
				width: 100%;
				margin-bottom: 0;
				position: relative;
				&_drop {
					&:after, &:before {
						content: "";
						width: 8px;
						height: 1px;
						background-color: $wh;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						z-index: 1;
						transition: all .3s linear;
					}
					&:before {
						transform: translateY(-50%) rotate(90deg);
					}
					&.active {
						&:before {
							transform: translateY(-50%) rotate(0deg);
						}
					}
				}
				&_link {
					&:after, &:before {
						content: "";
						width: 8px;
						height: 9px;
						background: url("../images/arrow-icon_wh.svg") center no-repeat;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%) rotate(-90deg);
						z-index: 1;
					}
				}
			}
			&-list {
				display: none;
				padding: 20px 0 10px;
				a {
					font-size: 12px;
				}
			}
		}
		&__qr {
			display: none;
		}
	}
}

@media(max-width: 540px) {
	.footer {
		&__row {
			display: block;
		}
		&__copyright {
			margin-bottom: 14px;
		}
		&__subscribe {
			margin-bottom: 15px;
		}
		&__contact {
			&-col {
				&:nth-child(3) {
					justify-content: space-between;
				}
			}
			.btn {
				padding: 10px;
			}
		}
		&__phone {
			margin-right: 8px;
		}
	}
}

@media(max-width: 360px) {
	.burger {
		width: 15px;
		margin-right: 10px;
	}

	.footer {
		&__phone {
			font-size: 12px;
		}
		&__contact {
			&-col {
				padding: 0 10px 20px;
			}
		}
		&__logo {
			padding-right: 10px;
			margin-right: 10px;
		}
	}
}
/*===============/adaptive==============*/